/* место для вашего кода */
body {
  margin: auto;
  font-family: Raleway, sans-serif;
  width: 1100px;
  height: 3028px;
}

.header {
  position: relative;
  height: 105px;
  width: 1052px;
  margin: 92px 24px 96px;
}

.header__menu {
  position: absolute;
  top: 44px;
  right: 634px;
  bottom: 39px;
  left: 26.52px;
  box-sizing: border-box;
  width: 391.48px;
  height: 22px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  list-style: circle;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__logo {
  position: absolute;
  right: 450px;
  left: 454px;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  width: 240.52px;
  height: 98px;
  position: absolute;
  top: 5px;
  right: 25.48px;
  bottom: 2px;
  left: 786px;
  color: #000000;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.cover {
  position: relative;
  box-sizing: border-box;
  width: 1100px;
  height: 757px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.cover .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: absolute;
  top: 165px;
  right: 50px;
  bottom: 237px;
  left: 50px;
  box-sizing: border-box;
  width: 1000px;
  height: 355px;
  color: #ffffff;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  line-height: 100%;
  z-index: 2;
}

.aligned-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 316px;
  height: 115px;
  position: absolute;
  left: 0px;
  top: 0x;
  line-height: 115px;
}

.aligned-text_center {
  display: flex;
  align-items: center;
  width: 369px;
  height: 100px;
  position: absolute;
  top: 135px;
  left: 286px;
  right: 345px;
  bottom: 120px;
  line-height: 1em;
}

.aligned-text_right {
  display: flex;
  align-items: center;
  width: 417px;
  height: 100px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 583px;
  line-height: 1em;
}

.on_letters {
  letter-spacing: 0.3em;
}

.o_letter {
  margin-left: 30px;
}

.teb_letters {
  letter-spacing: 0.3em;
}

.e_letter {
  margin-left: 30px;
}

.n_letter {
  margin-right: 60px;
}

.ado_letters {
  letter-spacing: 0.3em;
}

.cover__description {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 502px;
  left: 28px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0px;
}

/* converted letter-spacing from Figma to px */
.word_spacing_90 {
  word-spacing: 19.8px;
}

.word_spacing_80 {
  word-spacing: 17.6px;
}

.word_spacing_110 {
  word-spacing: 24.2px;
}

.bet-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 51px;
  border: #ffffff solid 1px;
  position: absolute;
  top: 490px;
  right: 0px;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: auto;
  letter-spacing: 0px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.lots {
  display: flex;
  position: relative;
  margin: 179px 24px 146px;
  width: 1052px;
  height: 692px;
}

.lots__heading {
  position: absolute;
  top: 0px;
  right: 891px;
  font-size: 40px;
  font-weight: bold;
  line-height: auto;
  text-transform: uppercase;
}

.lots__card-list {
  position: absolute;
  top: 74px;
  bottom: 55px;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  list-style: none;
  color: #ffffff;
}

.card-link {
  display: block;
  height: 100%;
}

.lots__card-list-item {
  width: 334px;
  height: 100%;
}

.card_type_film {
  position: relative;
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

article {
  position: relative;
  height: 100%;
}

.card__title {
  position: absolute;
  top: 51px;
  left: 40px;
  right: 40px;
  font-size: 22px;
  line-height: 26.4px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}

.card__text {
  position: absolute;
  right: 40px;
  bottom: 48px;
  left: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  z-index: 2;
  text-align: left;
}

.card_type_book {
  position: relative;
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_book .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.card_type_picture {
  position: relative;
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_picture .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.lots__look-more-link {
  white-space: nowrap;
  position: absolute;
  top: 667px;
  right: 820px;
  bottom: 2px;
  left: 40px;
  font-size: 20px;
  line-height: 23x;
  font-weight: normal;
}
